rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /inquiries/{document} {
      allow create: if true; // Allow anyone to submit a form / inquiry
      allow read, update, delete: if true; // Allow checking and updating status
    }
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
